parameters:
	ignoreErrors:
		-
			rawMessage: Function rules_import not found.
			identifier: function.notFound
			count: 1
			path: modules/quiz_feedback_rules/quiz_feedback_rules.rules_defaults.inc

		-
			rawMessage: Access to an undefined property Drupal\quiz_feedback_rules\Entity\QuizFeedbackTypeRules::$component.
			identifier: property.notFound
			count: 2
			path: modules/quiz_feedback_rules/src/Entity/QuizFeedbackTypeRules.php

		-
			rawMessage: Access to an undefined property Drupal\quiz_feedback_rules\Entity\QuizFeedbackTypeRules::$componentObject.
			identifier: property.notFound
			count: 2
			path: modules/quiz_feedback_rules/src/Entity/QuizFeedbackTypeRules.php
