.inline-elements {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}
.inline-elements > * {
  padding: 1rem;
}
.inline-elements .form-type-item {
  align-self: center;
  width: 30px;
}
.inline-elements .form-type-textarea {
  width: 300px;
}
.inline-elements input.button {
  align-self: center;
}
