/**
 * @file
 * Styles for the Comment module.
 */

/**
 * Indent threaded comments.
 */
.indented {
  margin-left: 25px; /* LTR */
  [dir="rtl"] & {
    margin-right: 25px;
    margin-left: 0;
  }
}
