/**
 * @file
 * Styles for admin lists.
 */

ul.admin-list {
  margin: 0;
  padding: 0;
  & li {
    position: relative;
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-image: none;
    border-top: 1px solid #bfbfbf;
  }
  &.compact li {
    border: none;
  }
  & li a {
    display: block;
    min-height: 0;
    padding: 14px 15px 14px 25px; /* LTR */
    background: url(../../images/icons/bebebe/chevron-disc-right.svg) no-repeat 1px 16px; /* LTR */
  }
}

.admin-list.compact li a {
  padding: 2px 0;
  background-image: none;
}

.admin-list li a {
  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }
  & .label {
    font-size: 1.0769em;
    font-weight: normal;
  }
  &:hover .label,
  &:focus .label,
  &:active .label {
    text-decoration: underline;
  }
}

/**
 * These styles have been added to avoid issues with descriptions containing
 * links.
 *
 * See https://www.drupal.org/project/seven/issues/2688793
 */
ul.admin-entity-list {
  margin: 0;
  padding: 0;
}

.admin-entity-list {
  & li {
    position: relative;
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-image: none;
    border-top: 1px solid #bfbfbf;
  }
  &.compact li {
    border: none;
  }
  & li a {
    display: block;
    min-height: 0;
    padding: 14px 15px 14px 25px; /* LTR */
    background: url(../../images/icons/bebebe/chevron-disc-right.svg) no-repeat 1px 16px; /* LTR */
    [dir="rtl"] & {
      padding-right: 25px;
      padding-left: 15px;
      background: url(../../images/icons/bebebe/chevron-disc-left.svg) no-repeat right 16px;
    }
  }
  &.compact li a {
    padding: 2px 0;
    background-image: none;
  }
  & li a:hover,
  & li a:focus,
  & li a:active {
    text-decoration: none;
  }
  & li a .label {
    font-size: 1.0769em;
    font-weight: normal;
  }
  & li .description {
    padding: 0 0 0.8em 0;
    .admin-entity-list li .description a {
      display: inline;
      padding: 0;
      background-image: none;
    }
  }
  & li a:hover .label,
  & li a:focus .label,
  & li a:active .label {
    text-decoration: underline;
  }
}
