/**
 * @file
 * Styles for messages.
 */

.messages {
  margin: 0 0 20px 8px; /* LTR */
  [dir="rtl"] & {
    margin: 0 8px 10px 0;
  }
  & pre {
    margin: 0;
  }
  & h1,
  & .heading-a,
  & h2,
  & .heading-b,
  & h3,
  & .heading-c,
  & h4,
  & .heading-d,
  & h5,
  & .heading-e,
  & h6,
  & .heading-f {
    margin-top: 0;
  }
}
