#board {
  display: flex;
  clear: both;
  flex-direction: row;
  align-items: stretch;
}

.swimlane {
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 25%;
}

.list-group {
  height: 90%;
  min-height: 50vh;
  margin: 0.5em 0.5em 0.5em 0;
  padding: 0.5em;
  border: 1px dotted rgb(0, 0, 0, 0.05);
  border-radius: 12px;
  background-color: rgb(0, 0, 0, 0.01);
}

.list-group-item {
  margin: 0.5em 0;
  padding: 0.5em;
  border: 1px solid rgb(0, 0, 0, 0.125);
  border-radius: 5px;
}

.swimlane .counter {
  font-weight: 500;
  font-style: italic;
}

#user_list {
  height: 24px;
  margin: 0.5em 0 1em 0;
}

#user_list h4,
#user_list div.assigned_to,
#user_list div.reset {
  float: left;
}

#user_list a {
  outline: 0;
}

#user_list h4 {
  margin: 0;
  line-height: 24px;
}

#user_list div.assigned_to,
#user_list div.reset {
  margin: 0 0.5em;
  cursor: pointer;
}

#user_list div.reset {
  height: 24px;
  padding: 0 0.5rem;
  line-height: 24px;
}

#user_list div.assigned_to {
  border: 1px solid transparent;
}

#user_list div.assigned_to.active {
  border: 1px solid black;
}
