#backlog h3 {
  margin: 0 1em 0 0;
  font-weight: bold;
}

a.button-action {
  margin-bottom: 1em;
}

.list-group {
  min-height: 40px;
  margin-bottom: 1.5em;
  padding: 0.5em;
  border-right: 1px dotted rgb(0, 0, 0, 0.05);
  border-bottom: 1px dotted rgb(0, 0, 0, 0.05);
  border-left: 1px dotted rgb(0, 0, 0, 0.05);
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  background-color: rgb(0, 0, 0, 0.01);
}

.list-group-item {
  margin: 0.5em 0;
  padding: 0.5em;
  border: 1px solid rgb(0, 0, 0, 0.125);
  border-radius: 5px;
}

.burndown_sprint,
#backlog_label {
  padding: 0.5em;
  border: 1px dotted rgb(0, 0, 0, 0.05);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  background-color: rgb(0, 0, 0, 0.1);
}

.burndown_sprint .backlog {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.burndown_sprint .backlog .num_tasks {
  flex-grow: 4;
  font-weight: 500;
  font-style: italic;
}

.burndown_sprint .backlog .status {
  margin: 0 2em 0 1em;
  padding: 0.25em 0.5em;
  text-transform: capitalize;
  border-radius: 5px;
  background-color: lightgreen;
}

.burndown_sprint .open_button a {
  display: block;
  height: 24px;
  text-indent: 27px;
  color: black;
  background-image: url("../icons/actions/open.png");
  background-repeat: no-repeat;
  background-size: contain;
  line-height: 23px;
}

.burndown_sprint .close_button a {
  display: block;
  height: 24px;
  text-indent: 27px;
  color: black;
  background-image: url("../icons/actions/close.png");
  background-repeat: no-repeat;
  background-size: contain;
  line-height: 23px;
}
