parameters:
	ignoreErrors:
		# These errors are a bug in phpstan, see https://github.com/phpstan/phpstan/issues/6830.
		-
			message: "#^Variable \\$data_table might not be defined\\.$#"
			count: 3
			path: src/QueryAccess/EntityQueryAlter.php

		-
			message: "#^Variable \\$owner_conditions might not be defined\\.$#"
			count: 3
			path: tests/src/Kernel/QueryAlter/QueryAlterTestBase.php

